@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Portfolio</h1>
</div>

<button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
    What time is it?
</button>
 
