@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1  class="display-4 title">Welcome to my Portfolio</h1>
</div>



<div id="profile">

<img id="Portriat" src="~/Assets/Ray.jpg" />
<p id="about" >
    Hello, I’m Ray Johnson and I am a Front End Web Developer based in Seattle, WA. My coding skills revolve around HTML, CSS, and C#. I enjoy creating visually appealing web designs. Being an amateur photographer helps me see and appreciate details of web design.
</p>
 

</div>


