@page
@model Portfolio_2019.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1 class="display-4 title">Projects</h1>

<div>
<a href="https://maintainnet.azurewebsites.net/">
<img class="project_img" src="~/Assets/maintain.JPG" />
</a>
<p class="proj-des"> This project created around the technology of machine learning. It’s designed to help everyday users keep up with their routine task as templated by the app. (Mar 2019)</p>
</div>

<div>
<a href="https://truecoachbigrig.azurewebsites.net/">
<img class="project_img" src="~/Assets/True-Coach.JPG" />
</a>
<p class="proj-des"> This project was created to help users achieve a desired fitness goal with a variety of exercises and meal ideas to reach the users goal. (Feb 2019)</p>
</div>

<div>
<a href="https://mg-rj-booklist.herokuapp.com/">
<img class="project_img" src="~/Assets/Best-book.JPG" />
</a>
<p class="proj-des">Allows users to search for books using Google Books API. (Dec 2018)</p>
</div>