@page
@model Portfolio_2019.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div>
<a href="https://maintainnet.azurewebsites.net/">
<img class="project_img" src="~/Assets/maintain.JPG" />
</a>

</div>

<div>
<a href="https://truecoachbigrig.azurewebsites.net/">
<img class="project_img" src="~/Assets/True-Coach.JPG" />
</a>

</div>

<div>
<a href="https://mg-rj-booklist.herokuapp.com/">
<img class="project_img" src="~/Assets/Best-book.JPG" />
</a>

</div>